@import 'partial';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: lighten(purple, 50%);
}

header {
  position: relative;
  height: 250px;
  background-image: url('../images/ocean.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  color: purple;
  position: absolute;
  left: 40%;
  top: 40%;
}

.ball-cont {
  background-color: yellow;
  height: 200px;
}

img {
  width: 100px;
  display: block;
}
